*,html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  height:100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
  width: 500px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  
}
.imgdiv {
   width:50%; 
}
.img {
   width: 100%;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px; 
  
}
.content {
  height: 100%;
  width: 50%;
  padding: 18px;
  height: 100%;
}
.span-el {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
  font-size: smaller;
  font-family: Montserrat;
  color: hsl(228, 12%, 48%);
}
.header {
  padding: 10px 0px 10px 0px;
}
.para {
  font-weight: 500;
  font-size: smaller;
  font-family: Montserrat;
  color: hsl(228, 12%, 48%);
  line-height: 20px;
}
.price {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px 0px 20px 0px;
  color: hsl(158, 36%, 37%);
}
.cart-btn {
  width: 100%;
  
  /* padding: 10px 25px 10px 25px; */
  padding: 12px 25px;
  border-radius: 6px;
  border: none;
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: Montserrat;
  font-size: x-small;
  font-weight: 700;
}

/* @media only screen and (max-width: 530px) {
    .card{
        width: 100%;
        height: 90%;
        flex-flow: column;
        
      }
      .imgdiv{
        background: url("./images/image-product-mobile.jpg");
        width: 100%;
        height: 50%;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        
      }
      .content{
        width: 100%;
        height: 50%;
      }
      .container{
        padding:20px;
      }
} */
/* Your existing CSS code */
/* Your existing CSS code */

@media only screen and (max-width: 530px) {
    .card {
        width: 100%;
        /* min-height: 100%; */
        flex-flow: column;
        /* align-items: center; */
    }
    .imgdiv {
     /* background: url("./images/image-product-mobile.jpg"); */
        width: 100%;
        height: 30%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
    }
    .img{
        height: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
    .content {
        width: 100%;
        padding: 18px;
    }
    .container {
        padding: 20px; /* Adjust padding as needed */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}

